.wonderIcon {
  background: black;
  color: white;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #553af6, #553af6 100%);
  border: 1px solid linear-gradient(0deg, #e4e7ec, #e4e7ec),
    linear-gradient(0deg, #ffffff, #ffffff);
  cursor: pointer;
}
